.red {
    background-color: red;
}

.green {
    background-color: #249624;
}

.blue {
    background-color: blue;
}

h5 {
    font-weight: 100;
    font-size: 14px;
}

.img-header {
    height: 40px;
    width: 40px;
}

.img-body {
    height: 60px;
    width: 60px;
}
